<div class="posts list-group">
    {{#each posts}}
        <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}"></a>
        <span>
            {{title}}
        </span>
        <span>
            {{format_date createdAt}}
        </span>
    {{/each}}
</div>